<form role="form" name="localizacao" class="panel">
  <div class="tab-content">
    <div class="tab-pane active col-md-12">
      <h3>Defina a localização do Evento!</h3>
      <hr>
      <form>
        <div class="col-md-12">
          <div class="col-md-12">
            <div class="col-sm-12 col-md-12">
              <div class="form-group">
                <label>Localização</label>
                <input required places-auto-complete
                       ng-model="evento.address"
                       component-restrictions="{country:'br'}"
                       on-place-changed="placeChanged()"
                       type="text" class="form-control"
                       placeholder="Digite a localização do evento"/> <br/>
                Endereço:{{evento.address}}<br/>
              </div>
              <ng-map center={{center}} style="width:100%; height:100%;"></ng-map>
            </div>

            <div class="form-group col-sm-12 col-md-12">
              <label>Mais sobre a localização</label>
                 <textarea rows="10" class="form-control" placeholder="Digite informações complementares sobre a localização. Ex.: Em frente ao supermercado"
                           ng-model="evento.localizacaoComplemento"></textarea>
            </div>

            <div class="form-group" style="font-style: italic">
              <div class="col-md-12">
                <hr>
                <button class="btn btn-primary pull-right" ng-disabled="!canGoThirdStep()" ng-click="thirdStep()">Cadastrar necessidades!
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</form>
