<div class="container-fluid">
  <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title">Cadastrar evento</div>
      </div>
      <div style="padding-top:30px" class="panel-body">
        <form>
          <div class="col-md-12">
            <div class="col-sm-5 col-md-5">
              <div class="form-group">
                <label>Nome</label>
                <input class="form-control" placeholder="Digite o nome do evento" ng-model="evento.nome">
              </div>
              <div class="form-group">
                <label>Categoria</label>
                <input class="form-control" placeholder="Digite o da Categoria do evento" ng-model="evento.categoria">
              </div>
              <div class="form-group">
                <label>Descrição</label>
                <textarea rows="10" class="form-control" placeholder="Descreva o evento"
                          ng-model="evento.descricao"></textarea>
              </div>
            </div>
            <div class="col-sm-7 col-md-7">
              <ng-dropzone style="height:315px" class="dropzone" options="dzOptions" callbacks="dzCallbacks"
                           methods="dzMethods"></ng-dropzone>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-sm-12 col-md-5">
              <div class="form-group">
                <label>Data Inicial</label>
                <input type="date" class="form-control" ng-model="evento.dtInicial"/>
              </div>
              <div class="form-group">
                <label>Data Final</label>
                <input type="date" class="form-control" ng-model="evento.dtFinal"/>
              </div>
              <div class="form-group">
                <label>Organizador</label>
                <div class="form-group">
                  <input class="form-control" placeholder="Digite o nome do evento" ng-model="evento.organizador">
                </div>
              </div>
              <div class="form-group">
                <label>Evento no facebook</label>
                <p class="input-group">
                  <input type="text" class="form-control" ng-model="urlFacebook" placeholder="Evento do facebook"
                         ng-model="evento.facebook"/>
                  <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="search()"><i
                  class="glyphicon glyphicon-thumbs-up"></i></button>
              </span>
                </p>
              </div>
            </div>
            <div class="col-sm-12 col-md-7">
              <div class="form-group">
                <label>Localização</label>
                <input places-auto-complete
                       ng-model="evento.address"
                       component-restrictions="{country:'br'}"
                       on-place-changed="placeChanged()"
                       type="text" class="form-control"
                       placeholder="Digite a localização do evento"/> <br/>
                Endereço:{{evento.address}}<br/>
              </div>
              <ng-map center={{center}} style="width:100%; height:100%;"></ng-map>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <hr>
                <button ng-click="submitEvento(evento)" class="btn btn-primary">Cadastrar evento!</button>
                <hr>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
