<ion-view view-title="Eventos" ng-controller="eventosCtrl">
  <ion-content>
    <div class="list">
      <div class="item item-divider">
        Meus Eventos
      </div>
      <a class="item" href="#">
        evento que cadastrei 1
      </a>
      <a class="item" href="#">
        evento que cadastrei 2
      </a>
      <div class="item item-divider">
        Outros Eventos
      </div>
      <a class="item" href="#">
        evento de outros 1
      </a>
      <a class="item" href="#">
        evento de outros 2
      </a>
    </div>
  </ion-content>
</ion-view>
