<ion-view id="login" hide-nav-bar="true">
  <ion-content padding="true" scroll="false">
    <form ng-submit="doLogin(user)">
      <div class="row responsive-md">
        <div class="col col-50 col-offset-25">

          <div class="header padding text-center">
            <img width="250" src="img/eventar_logo.PNG" alt="Your logo here"/>
          </div>

          <div class="list">
            <label class="item item-input">
              <input type="text" placeholder="Usuário" ng-model="user.username">
            </label>
            <label class="item item-input">
              <input type="password" placeholder="Senha" ng-model="user.password">
            </label>
          </div>

          <button class="button button-block button-positive">
            Logar
          </button>

          <div class="row row-no-padding">
          </div>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
