<ion-view view-title="Novo evento">
  <ion-slides options="swiperOptions" slider="swiper" ion-wizard>
    <ion-slide-page ion-wizard-step>
      <ion-content class="has-header">
        <div class="row">
          <div class="col col-center">
            <div class="card rounded">

              <div class="item item-text-wrap">
                <p>
                  Dados cadastrais
                </p>

                <div class="list">
                  <label class="item item-input">
                    <span class="input-label">Título do evento: </span>
                    <input type="text" placeholder="Título do evento">
                  </label>

                  <label class="item item-input">
                    <span class="input-label">Organizador: </span>
                    <input type="text" placeholder="Nome do organizador">
                  </label>

                  <label class="item item-input">
                    <span class="input-label">Categoria: </span>
                    <input type="text" placeholder="Categoria do evento">
                  </label>

                  <label class="item item-input">
                    <span class="input-label">Evento no facebook: </span>
                    <input type="text" placeholder="URL do evento">
                  </label>

                  <label class="item item-input">
                    <span class="input-label">Data inicial: </span>
                    <div class="item item-icon-left" ion-datetime-picker ng-model="datetimeValue" ng-click="go()">
                      <strong>{{datetimeValue| date: "yyyy-MM-dd H:mm"}}</strong>
                    </div>
                  </label>

                  <label class="item item-input">
                    <span class="input-label">Data final: </span>
                    <div class="item item-icon-left" ion-datetime-picker ng-model="datetimeValue" ng-click="go()">
                      <strong>{{datetimeValue| date: "yyyy-MM-dd H:mm"}}</strong>
                    </div>
                  </label>

                </div>

              </div>
            </div>
          </div>
        </div>
      </ion-content>
    </ion-slide-page>
    <ion-slide-page ion-wizard-step>
      <ion-content class="has-header">
        <!--
        <div class="row">
          <div class="col col-center">
            <div class="item item-input-inset">
              <label class="item item-input-wrapper">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Type something" ng-model="step2.name" autocomplete="off">
              </label>
            </div>
          </div>
        </div>
        -->
        <div class="row">
          <div class="col col-center">
            <div class="card rounded" ng-hide="step2.name">
              <div class="item">
                <h2 class="positive">Aqui vai o mapinha</h2>
              </div>
            </div>
          </div>
        </div>
      </ion-content>
    </ion-slide-page>
    <ion-slide-page ion-wizard-step class="has-header">
      <div class="row">
        <div class="col col-center">
          <h3 class="positive">Evento já cadastrado</h3>
          <p>Preencha apenas algumas informações adicionais</p>
          <div class="item item-input-inset">
            <label class="item item-input-wrapper">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="text" placeholder="Type something" ng-model="step3.something" autocomplete="off">
            </label>
          </div>

          <div class="row">
            <div class="col col-center">
              <div class="card rounded">

                <div class="item item-text-wrap">
                  <div class="list" ng-controller="teste">
                    <table>
                      <thead>
                        <tr>
                          <th>Produto</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="item in itens">
                          <td><strong>{{ item.produto }}</strong></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </ion-slide-page>
  </ion-slides>

</ion-view>