<div class="container-fluid">
  <div style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info" >
      <div class="panel-heading">
        <div class="panel-title">Cadastrar evento</div>
      </div>
      <div style="margin-top:-50px" class="panel-body" >
        <div class="row">
          <section>
            <div class="wizard">
              <div class="wizard-inner">
                <div class="connecting-line"></div>
                <ul class="nav nav-tabs" role="tablist">

                  <li role="presentation" ng-class="{active: steps.firstStep}" ng-click="firstStep()" >
                    <a href="" >
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </span>
                    </a>
                  </li>

                  <li role="presentation" ng-class="{active: steps.secondStep, disabled: !canGoSecondStep()}" ng-click="secondStep()" >
                    <a href="" >
                            <span class="round-tab" data-toggle="tooltip" ng-show="canGoSecondStep()">
                                <i class="glyphicon glyphicon-map-marker"></i>
                            </span>
                            <span class="round-tab" data-toggle="tooltip" ng-show="!canGoSecondStep()" title={{secondStepTooltip()}}>
                                <i class="glyphicon glyphicon-map-marker"></i>
                            </span>
                    </a>
                  </li>
                  <li role="presentation" ng-class="{active: steps.thirdStep, disabled: !canGoThirdStep()}" ng-click="thirdStep()" >
                    <a href="" >
                      <span class="round-tab" data-toggle="tooltip" ng-show="canGoThirdStep()">
                                <i class="glyphicon glyphicon-list"></i>
                            </span>
                      <span class="round-tab" data-toggle="tooltip" ng-show="!canGoThirdStep()" title={{thirdStepTooltip()}}>
                                <i class="glyphicon glyphicon-list"></i>
                            </span>
                    </a>
                  </li>

                  <li role="presentation" class="disabled">
                    <a href="" >
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-ok"></i>
                            </span>
                    </a>
                  </li>
                </ul>
              </div>
              <dados ng-show="steps.firstStep"> </dados>
              <localizacao ng-if="steps.secondStep"> </localizacao>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
<script type="text/javascript">
  $(function () {
    $('#datetimepicker').datetimepicker({
      locale: 'pt-br'
    });
  });
</script>
<script type="text/javascript">
  $(function () {
    $('#datetimepicker1').datetimepicker({
      locale: 'pt-br'
    });
  });
</script>
